--- 
title: Ring of Bytes code 
collection: pages 
permalink: robcode 
--- 
{% extends "layouts/page.html" %} 
{% import "layouts/inputs.html" as inputs %}
{% block tool %}
{{ inputs.textareafield(name="the_text", label="Input", rows=input.rows, value=input.placeholder) }}
<br>
<div class="form-group">
  
  <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#advanced-options" aria-expanded="false" aria-controls="advanced-options">
    Advanced
  </button>
</div>
<div class="collapse form-group" id="advanced-options">
  <input type="checkbox" id="exponential">Exponential
  <select name="step_size" >
    {%- for i in range(0, 8) %}
    <option value="{{ i }}" {% if i==2 %}selected{% endif %}>{{ i }}</option>
    {%- endfor %}
  </select> Step Size (or Base) start at Ring
  <input type="text" size="5" name="start_ring" value="1">
  <br>
  <input type="text" width="16" name="xor_text" value="0xAA">
  <input type="checkbox" id="xor" checked="true" >XOR (0b for binary, 0a for a Character, 0x for Hex)
  <br> Center X
  <input type="text" size="5" name="center_x" value="250"> Y
  <input type="text" size="5" name="center_y" value="250"> Ring Width
  <input type="text" size="3" name="ring_width" value="20"> Bytes per Sector
  <input type="text" size="5" name="bytes_per_sector" value="1">
  <br>
  <input type="radio" name="center" value="no_center" checked > No Center
  <input type="radio" name="center" value="center_circle" > Solid
  <input type="radio" name="center" value="ring" > Ring
  <input type="radio" name="center" value="double_circle" > Circle with Ring
  <input type="radio" name="center" value="center_byte" > Center Byte
  <input type="text" size="12" name="center_byte_text" value="0xAA">
  <br>
  <input type="radio" name="bit_order" value="lsb" > LSB
  <input type="radio" name="bit_order" value="msb" checked > MSB&nbsp;&nbsp;
  <input type="radio" name="parity" value="even" checked > Even Parity
  <input type="radio" name="parity" value="odd" > Odd Parity
  <input type="radio" name="parity" value="none" > No Parity
  <input type="radio" name="parity" value="mark" > Mark
  <input type="radio" name="parity" value="space" > Space
  <br>
  <input type="checkbox" id="counter_clockwise" >Counter Clockwise
  <input type="checkbox" id="bounding_circle" checked="true" >Bounding Circle
  <input type="checkbox" id="colour" >Colour
  <input type="checkbox" id="unroll" >Unroll
  <br>
  <br>
  <table>
    <tr>
      <td>
        <input type="color" id="table1_cell_colour_0" value="#ff0000" onchange="set_colour(this);">
      </td>
      <td>
        <input type="color" id="table1_cell_colour_1" value="#ff0000" onchange="set_colour(this);">
      </td>
      <td>
        <input type="color" id="table1_cell_colour_2" value="#ff0000" onchange="set_colour(this);">
      </td>
      <td>
        <input type="color" id="table1_cell_colour_3" value="#ff0000" onchange="set_colour(this);">
      </td>
      <td>
        <input type="color" id="table1_cell_colour_4" value="#ff0000" onchange="set_colour(this);">
      </td>
      <td>
        <input type="color" id="table1_cell_colour_5" value="#ff0000" onchange="set_colour(this);">
      </td>
      <td>
        <input type="color" id="table1_cell_colour_6" value="#ff0000" onchange="set_colour(this);">
      </td>
      <td>
        <input type="color" id="table1_cell_colour_7" value="#ff0000" onchange="set_colour(this);">
      </td>
      <td>
        <input type="color" id="table1_cell_colour_8" value="#ff0000" onchange="set_colour(this);">
      </td>
      <td>
        <input type="button" value="reverse" onClick="reverse_colours()">
      </td>
    </tr>
  </table>
</div>
<br>
<div class="form-group">
  <button class="btn btn-primary" type="button" id="draw" name="draw">Generate</button>
</div>

<div align="left" class="form-group">
  <label>Output</label>
  <svg class="border rounded" id="thesvg" width="100%" height="500px">
  </svg>
</div>
{% endblock %} 
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script defer type="text/javascript" src="robcode.js"></script>
<script defer type="text/javascript">
  // init()
  var the_form = document.getElementById('tool-form')
  document.getElementById('draw').onclick = function() {
    encode_text(this.form)
  }

</script>

{% endblock %} 

{% block references %}
<ul>
  <li><a href="https://en.wikipedia.org/wiki/ShotCode">ShotCode - Wikipedia</a></li>
  <li><a href="https://github.com/rbur004/svg_rob_code">Original ROB code Implementation - Rob Burrowes</a></li>
</ul>
{% endblock %}