@import url('https://fonts.googleapis.com/css?family=Inconsolata');

// $font-family-base:            serif;
$font-family-monospace:     'Inconsolata', monospace;
$headings-font-family:      $font-family-monospace;

$primary: #6610f2;

.form-control {
    font-family: $font-family-monospace;
}

.return::before {
    content: '\261A\2002';
}

.btn {
    font-family: $font-family-monospace;
    font-style: normal !important;
}

label {
    font-family: $font-family-monospace;
    font-style: italic;
}

@import "node_modules/bootstrap/scss/bootstrap.scss";
