@import url('https://fonts.googleapis.com/css?family=Inconsolata');

// $font-family-base:            serif;
$font-family-monospace:     'Inconsolata', monospace;
$headings-font-family:      $font-family-monospace;

.form-control {
    font-family: $font-family-monospace;
}

@import "node_modules/bootstrap/scss/bootstrap.scss";
