<!DOCTYPE html>
<html>
<head>
    <title>{{ site.title }} – {{ title }}</title>
    <link rel="stylesheet" href="/css/app.css" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    {% block header -%}
    <h1>Cryptographic Crypt</h1>
    {%- endblock %}
    <noscript>
        You need to enable JavaScript to use this site
    </noscript>
    {% block content -%}
    {%- endblock %}
    {% block footer -%}
    <div>
        <p>
            Last edit: {{ stats.mtime.getUTCFullYear() }}-{{ stats.mtime.getUTCMonth() }}-{{ stats.mtime.getUTCDate() }}
        </p>
    </div>
    {%- endblock %}
    </div>
    {% block scripts -%}
    {%- endblock %}
</body>
</html>