<!DOCTYPE html>
<html>
<head>
    {% include "layouts/head.html" %}
</head>
<body>
    <div class="container">
        {% block header -%}
            <h1>{{ site.title }}</h1>
        {%- endblock %}
        <div class="alert alert-info" role="alert">
            First Iteration, bugs everywhere, <a href="{{ package.bugs.url }}">submit issue.</a>
            </div>
        <noscript>
            <div class="alert alert-warning" role="alert">
            You need to enable JavaScript to use tools on this site.
            </div>
        </noscript>
        {% block content -%}
        {%- endblock %}
    </div>
        {% block footer -%}
        {% include "layouts/footer.html" %}
        {%- endblock %}
    
    {% block scripts -%}
    {%- endblock %}
</body>
</html>