<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="manifest" href="/manifest.json">

<meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="{% for tag in tags %}{{ tag.name }},{% endfor %}">

<title>{{ title }} – {{ site.title }}</title>
<link rel="stylesheet" href="/css/app.css" crossorigin="anonymous">
<link rel="icon" type="image/png" href="/crypt-key.png">