{% extends "layouts/base.html" %}
    {% block header -%}
    <a href="/">&#x261C; back to {{ site.title }}</a>
    <h2>{{ title }}</h2>
    {%- endblock %}

    {% block content %}
        <div class="card" id="tool">    
        <form class="card-body" id="tool-form">
        {% block tool %}
        {% endblock %}
        </form>
        </div>

        <section id="references">
        <h3>References</h3>
        {% block references %}
        {% endblock %}
        </section>
    {% endblock %}


