---
title: Base64
collection: pages
permalink: base64
---
{% extends "layouts/tool.html" %}
{% block tool %}
<div class="form-group">
    <label for="inputtext">Input</label>
    <textarea v-model=inputtext class="form-control" id="inputtext" name="inputtext" rows="2" type="text" placeholder="{{ input.placeholder }}" v-bind:pattern="[mode == 'decode' ? 're' : '']"
    ></textarea>
</div>
<div class="form-group form-row align-items-center">
    <div class="btn-group btn-group-toggle col-auto" data-toggle="buttons">
      <label class="btn btn-outline-primary" v-bind:class="[mode == 'encode' ? 'active' : '']">
        <input v-model="mode" value="encode" type="radio" name="mode" id="encode" autocomplete="off" checked> Encode
    </label>
    <label class="btn btn-outline-primary" v-bind:class="[mode != 'encode' ? 'active' : '']">
        <input v-model="mode" value="decode" type="radio" name="mode" id="decode" autocomplete="off"> Decode
    </label>
</div>
<div class="col">

</div>
<div class="col-auto">
    <button v-on:click="switchSides" name="switchBtn" id="switchBtn" class="btn btn-outline-secondary" type='button'>&#x21F5;</button>
</div>
</div>
<div class="form-group">
    <label for="outputtext">Input</label>
    <textarea v-model=outputtext class="form-control" id="outputtext" name="outputtext" rows="2" type="text" placeholder="" 
    readonly></textarea>
</div>
{% endblock %}

{% block references %}
<ul>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/WindowBase64/Base64_encoding_and_decoding">MDN web docs - Base64 encoding and decoding</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Base64">Wikipedia - Base64</a></li>
    <li><a href="https://stackoverflow.com/questions/8571501/how-to-check-whether-the-string-is-base64-encoded-or-not#8571649">How to check whether the string is base64 encoded or not</a></li>
</ul>
{% endblock %}

{% block scripts -%}
<script defer src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script defer src="base64.js"></script>
{%- endblock %}