---
title: Morse code translator
collection: pages
tags: code, translator
permalink: morse
---
{% extends "layouts/tool.html" %}
{% import "layouts/inputs.html" as inputs %}
{% block tool %}
{{ inputs.textareafield(name="inputtext", label="Input", rows=input.rows, value=input.placeholder) }}
<div class="form-group form-row align-items-center">
    <div class="btn-group col-auto" role="group" aria-label="Main actions">
        <button name="action" id="encrypt" class="btn btn-primary" type='button'>Encode</button>
        <button name="action" id="decrypt" class="btn btn-outline-primary" type='button'>Decode</button>
    </div>
    <div class="col">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="live">
            <label class="form-check-label" for="live">
              live output
          </label>
        </div>
    </div>
    <div class="col-auto">
        <button name="action" id="switch" class="btn btn-outline-secondary" type='button'>&#x21F5;</button>
    </div>
</div>
{{ inputs.textareafield(name="outputtext", label="Output", rows=input.rows, value='', other='readonly') }}
{% endblock %}
{% block references -%}
<ul>
    <li><a href="https://en.wikipedia.org/wiki/Morse_code">Morse code - Wikipedia</a></li>
</ul>
{%- endblock %}

{% block scripts %}
<script defer type="text/javascript" src="morse.js"></script>
<script defer type="text/javascript">
    document.getElementById("encrypt").onclick = function () {
        let inputtext = document.getElementById("inputtext").value
        if (inputtext == '') {
            inputtext = document.getElementById("inputtext").placeholder
        }
        document.getElementById("outputtext").value = encryptMorse(inputtext)
    }

    

    document.getElementById("decrypt").onclick = function () {
        const inputtext = document.getElementById("inputtext").value
        document.getElementById("outputtext").value = decryptMorse(inputtext)
    }

    document.getElementById("switch").onclick = function () {
        const tmp = document.getElementById("inputtext").value
        document.getElementById("inputtext").value = document.getElementById("outputtext").value
        document.getElementById("outputtext").value = tmp    
    }

    document.getElementById("live").onchange = function () {
        if (this.checked) {
            document.getElementById("inputtext").oninput = document.getElementById("encrypt").onclick
        } else {
            document.getElementById("inputtext").oninput = null
        } 
    }
    document.getElementById("live").onchange()

    document.getElementById("inputtext")
        .addEventListener("keyup", function(event) {
        event.preventDefault();
        if ((event.keyCode === 13) && event.ctrlKey) {
            document.getElementById("encrypt").click();
        }
    })
    window.onload = function() {
        document.getElementById("outputtext").placeholder = encryptMorse(document.getElementById("inputtext").placeholder)
    }
</script>
{% endblock %}