---
title: Morse code translator
collection: pages
permalink: morse
---
{% extends "layouts/page.html" %}
{% import "layouts/inputs.html" as inputs %}
{% block tool %}
{{ inputs.textareafield(name="inputtext", label="Input", rows=input.rows, value=input.placeholder) }}
<div class="form-group form-inline">
    <div class="btn-group" role="group" aria-label="Main actions">
        <button name="action" id="encrypt" class="btn btn-primary" type='button'>Encode</button>
        <button name="action" id="decrypt" class="btn btn-outline-primary" type='button'>Decode</button>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="live">
        <label class="form-check-label" for="live">
          live output
      </label>
  </div>
  <button name="action" id="switch" class="btn btn-outline-secondary" type='button'>&#x21F5;</button>
</div>
{{ inputs.textareafield(name="outputtext", label="Output", rows=input.rows, value='', other='readonly') }}
{% endblock %}
{% block references -%}
<ul>
    <li><a href="https://en.wikipedia.org/wiki/Morse_code">Morse code - Wikipedia</a></li>
</ul>
{%- endblock %}

{% block scripts %}
<script defer type="text/javascript" src="morse.js"></script>
<script defer type="text/javascript">
    document.getElementById("encrypt").onclick = function () {
        const inputtext = document.getElementById("inputtext").value
        document.getElementById("outputtext").value = encryptMorse(inputtext)
    }
    //wtf
    document.getElementById("outputtext").placeholder = encryptMorse("{{ input.placeholder }}")

    document.getElementById("decrypt").onclick = function () {
        const inputtext = document.getElementById("inputtext").value
        document.getElementById("outputtext").value = decryptMorse(inputtext)
    }

    document.getElementById("switch").onclick = function () {
        const tmp = document.getElementById("inputtext").value
        document.getElementById("inputtext").value = document.getElementById("outputtext").value
        document.getElementById("outputtext").value = tmp    
    }

    document.getElementById("live").onchange = function () {
        if (this.checked) {
            document.getElementById("inputtext").oninput = document.getElementById("encrypt").onclick
        } else {
            document.getElementById("inputtext").oninput = null
        } 
    }
    document.getElementById("live").onchange()

    document.getElementById("inputtext")
        .addEventListener("keyup", function(event) {
        event.preventDefault();
        if ((event.keyCode === 13) && event.ctrlKey) {
            document.getElementById("encrypt").click();
        }
    })
</script>
{% endblock %}