---
title: Home
---
{% extends "layouts/base.html" %}
{% block content -%}
<p>
    {{ description }}
</p>

<ul>
{% for elt in pages %}
    <li><a href="/{{ elt.permalink }}">{{ elt.title }}</a> {% if elt.aka %}{{ elt.aka }}{% endif %}</li>
{% endfor %}
</ul>
{%- endblock %}