---
title: Home
---
{% extends "layouts/base.html" %}
{% block content -%}
<ul>
{% for elt in pages %}
    <li><a href="/{{ elt.permalink }}">{{ elt.title }}</a></li>
{% endfor %}
</ul>
{%- endblock %}